.button_text:hover {
  color : red;
  background-color: yellow;
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  background-color: dodgerblue;
  width: 320px;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  justify-items: center;
  align-items: bottom;
}

.board div.tile {
  position: relative;
  align-content: space-evenly;
  z-index: 6;
}

.board div.tile .background_tile {
  align-content: space-evenly;
  z-index: 3;
  width: 40px;
}

.board div.tile .foreground {
  position: absolute;
  top: 0%;
  left: 0%;
  align-content: space-evenly;
  z-index: 4;
  width: 40px;
}

.hidden {
  visibility: hidden;
}

.highlighted_square {
  box-shadow: inset 0 0 0 5px yellow;
}

.red_text {
  color: red;
}

.nobr {
  white-space: nowrap;
}